@model IEnumerable<LevelsWithDbWebApp.Models.MyLevelsHolderMug>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Mug", "Create")
</p>
<table class="table">
    <tr>
        <th>
         Collection of Levels (my Mugs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MyLevelsHolderMugName)
        </td>
        <td>
            @Html.ActionLink("Edit Mug Name Field", "Edit", new { id=item.MyLevelsHolderMugID }) |
            @Html.ActionLink("Add Levels", "Details", new { id=item.MyLevelsHolderMugID }) |
            @Html.ActionLink("Delete Mug", "Delete", new { id=item.MyLevelsHolderMugID }) |
            @Html.ActionLink("View Tree", "LetMeSeeMyTree", new { id = item.MyLevelsHolderMugID })
        </td>
    </tr>
}

</table>
